.healthBack {
    height: 64px;
    width: 90%;
    top: 90%;
    left: 10%;
    margin: auto;
    padding: 4px;
    background-color: #323232;
    box-shadow: 0 0 5px black;
}

.healthBarBack {
    
}

.healthBar {
    /*background: rgb(255,0,0);
    background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,240,0,1) 50%, rgba(0,255,0,1) 100%);*/
    background: rgba(0,255,0,1);
}
